.Toggle {
    /* width: 307px; */
    border-radius: 100px;
    border: solid 1px #fbfbfb;
    margin-bottom: 20px;
    position: relative;
}

.Toggle__option {
    background: none;
    border: 0;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    cursor: pointer;
    height: 45px;
    position: relative;
    z-index: 1;
    transition: color .4s;
    /* resets */
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Toggle__option--selected {
    color: rgba(49, 49, 49, 0.75);
}

.Toggle__option:focus {
    outline: 0;
}

.Toggle__highlight {
    border-radius: 100px;
    height: 45px;
    position: absolute;
    cursor: pointer;
    transition: left .4s, right .4s;
    background-color: rgba(249, 249, 249, 0.5);
    box-shadow: 0 0 6px 1px rgba(119, 119, 119, 0.5);
    z-index: 0;
}