.Toggle {
    /* width: 307px; */
    border-radius: 100px;
    border: solid 1px #fbfbfb;
    margin-bottom: 20px;
    position: relative;
}

.Toggle__option {
    background: none;
    border: 0;
    color: #e66549;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    cursor: pointer;
    height: 45px;
    z-index: 1;
    /* resets */
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Toggle__option:focus {
    outline: 0;
}

.Toggle__highlight {
    border-radius: 100px;
    height: 45px;
    position: absolute;
    cursor: pointer;
    /* left: 0; */
    transition: left .2s, right .2s;
    background-color: rgba(249, 249, 249, 0.5);
    box-shadow: 0 0 6px 1px rgba(195, 51, 51, 0.5);
    z-index: 0;
}